Old/wsdl/hostedgame.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions name="GameplugWebservice"
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    targetNamespace="http://localhost/"     
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://localhost/" 
    
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    >
    <message name="insertHostedgameInput">
        <part name="userId" type="xsd:int"/>
        <part name="gameId" type="xsd:int"/>
        <part name="message" type="xsd:string"/>
        <part name="waitingForPlayers" type="xsd:boolean"/>
        <part name="amountOfPlayers" type="xsd:int"/>
        <part name="ipAddress" type="xsd:string"/>
    </message>
    
    <message name="insertHostedgameResponse">
        <part name="id" type="xsd:int"/>
    </message>
    
    <message name="updateHostedgameInput">
        <part name="id" type="xsd:int"/>
        <part name="message" type="xsd:string"/>
        <part name="waitingForPlayers" type="xsd:boolean"/>
        <part name="amountOfPlayers" type="xsd:int"/>
    </message>
    
    <message name="deleteHostedgameInput">
        <part name="id" type="xsd:int"></part>
    </message>
    
    <message name="selectHostedgameInput">
        <part name="id" type="xsd:int"/>
        <part name="gameId" type="xsd:int"/>
        <part name="userId" type="xsd:int"/>
    </message>
    
    <message name="selectHostedgameResponse">
        <part name="array" type="tns:ArrayOfHostedgames"/>
    </message>
    
    <portType name="HostedgameClassPortType">
        <operation name="insertHostedgame">
            <documentation> inserts a new game of a game</documentation>
            <input message="tns:insertHostedgameInput"/>   
            <output message="tns:insertHostedgameResponse"></output>
        </operation> 
        <operation name="updateHostedgame">
            <documentation> inserts a new game of a game</documentation>
            <input message="tns:updateHostedgameInput"/>   
        </operation> 
        <operation name="deleteHostedgame">
            <documentation> inserts a new game of a game</documentation>
            <input message="tns:deleteHostedgameInput"/>   
        </operation> 
        <operation name="selectHostedgame">
            <documentation> inserts a new game of a game</documentation>
            <input message="tns:selectHostedgameInput"/>   
            <output message="tns:selectHostedgameResponse"></output>
        </operation> 
    </portType>
    
    <binding name="HostedgameClassBinding" type="tns:HostedgameClassPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="insertHostedgame"> <soap:operation/>
            <input>
                <soap:body namespace="urn:HelloService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> 
            </input>
            <output>
                <soap:body namespace="urn:HelloService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> 
            </output>
        </operation>
        <operation name="updateHostedgame"> <soap:operation/>
            <input>
                <soap:body namespace="urn:HelloService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> 
            </input>
        </operation>
        <operation name="deleteHostedgame"> <soap:operation/>
            <input>
                <soap:body namespace="urn:HelloService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> 
            </input>
        </operation>
        <operation name="selectHostedgame"> <soap:operation/>
            <input>
                <soap:body namespace="urn:HelloService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> 
            </input>
            <output>
                <soap:body namespace="urn:HelloService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/> 
            </output>
        </operation>
    </binding>
</definitions>